.formMainContainer{
    display: flex;
    flex-direction: column;
    background-color: $blackTransparent;
    backdrop-filter: blur(4px);
    align-items: center;
    padding: 20px 0;
    gap: 20px;
    box-shadow: $shadowMain;
    h3{
        font-size: 25px;
        color: $whiteTextMain;
    }
    app-form{
        width: 100%;
    }
}


.formStyle{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    
    &_inputContainer{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 55vw;
        
        input{
            height: 30px;
        }
        textarea, input{
            padding: 4px;
            &:focus{
                outline: none;
                border: 3px solid #A9C9FF;
                box-shadow: 7px 7px 10px $blackShadow;
            }
        }
        
        div{
            align-self: center;
            color:$whiteTextMain ;
        }
    }
    &_buttonContainer{
        display: flex;
        gap: 20px;
        justify-content: center;
        button{
            @include buttonStyle;
            padding: 6px 12px;
            display: flex;
            font-size: 14px;
            height: 40px;
            margin: 40px auto;
        }

    }
}


