<div  class="formMainContainer container">
    <h3>{{value}} {{title}}</h3>
    
    
    <form (ngSubmit)="onSubmit()" #addForm="ngForm" class="formStyle">
        
        <app-input-todo *ngIf="todo" [todo]="todo"></app-input-todo>
        <app-input-note *ngIf="note" [note]="note"></app-input-note>
        <app-input-bookmark *ngIf="bookmark" [bookmark]="bookmark"></app-input-bookmark>
        
        <div class="formStyle_buttonContainer">
            <app-button-icon init="arrow_back" [edit]="edit"></app-button-icon>
            <button class="addButtonForm" type="submit" [disabled]="!addForm.form.valid">
                {{value}}
            </button>
        </div>
    </form>
    
</div>