.btnIcon{
    @include buttonStyle;
    width: 40px;
    height: 40px;
    display: flex;
    margin: 40px auto;
    
    a{
        text-decoration: none;
        color:$whiteTextMain;
        display: flex;
        
    }

}
