.boxButtons{
    display: flex;
    gap: 2px;
    position: absolute;
    right: 3.5px;
    top: 2.5px;

    @include visibilityOffButtonsItem;

    &_item{
        background-color:$buttonGrayLight;
        padding: 6px 12px;
        display: flex;

        cursor: pointer;
        i{
            font-size: 16px;
            color: $whiteTextMain;
        }

    

        &:hover{
            background-color: $buttonGrayDark;
        }
    }
}