

.mapMainContainer{
    height: 40vh;
    width: 70vw;
    margin: 0 auto;
    #map{
        height: 100%;
        width: 100%;
    }
}


.markerEditPageMain{
    display: flex;
    gap: 10px;



    &_leftSide{
        flex: 0.5;
        background-color: aqua;
    }


    &_rightSide{
        flex: 1.5;
    }
}


.markerStyle{
    @include itemStyle;
    width: 100%;
    height: 33px;
    justify-content: space-around;
    align-items: center;
    border-radius: 3px;

    &:hover{
        .boxButtons{
            @include visibilityOnButtonsItem
        }
    }

}