<div class="formAddMainContainer container">
    <h3>Ajouter une Tâche</h3>
    <form #addForm="ngForm" class="addForm">
        <div class="addForm_inputContainer">
            <input type="text" 
                
                placeholder="Entrer une nouvelle tâche....." 
                required
                pattern="^[a-zA-Z0-9àâéèç]$"
                ngModel
                name="inputText"
                #inputText="ngModel"
            >

            <div [hidden]="inputText.valid || inputText.pristine">
                Il y a une erreur de saisie
            </div>
        </div>

        <div class="addForm_buttonContainer">
            <button routerLink="../" class="cancelButtonForm">Annuler</button>
            <button class="addButtonForm">Ajouter</button>
        </div>
    </form>
</div>
