<div class="todosMainContainer">

    <div class="container">

        <div class="todoItem">
            <div class="boxCheck">
                <i class="material-icons-outlined">
                    check
                </i>
            </div>
            <span>Ceci est une todo test</span>
        </div>


        <div class="todoItem todoSelected">
            <div class="boxCheck">
                <i class="material-icons-outlined">
                    check
                </i>
            </div>
            <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ipsam tenetur optio in harum tempora a earum quam tempore nisi. Dolor nostrum commodi mollitia ipsa excepturi nisi aperiam hic ipsam.
            Minima perspiciatis, cumque necessitatibus cupiditate dolores quibusdam ab maxime modi nesciunt perferendis, ad voluptate consequuntur illo? Perferendis officiis nesciunt, unde itaque amet modi aperiam eum accusantium earum. Ab, ipsa aspernatur.</span>
        </div>
    </div>

</div>
