<div class="tabsMain">

    <div class="tab bookmarksTab">
        <div class="tab-tile">
            <i class="material-icons-outlined">
                bookmarks
            </i>
        </div>
    </div>

    <div class="tab checkTab">
        <div class="tab-tile">
            <i class="material-icons-outlined">
                check
            </i>
        </div>
    </div>


    <div class="tab notesTab">
        <div class="tab-tile">
            <i class="material-icons-outlined">
                notes
            </i>
        </div>
    </div>



</div>