
@mixin visibilityOnButtonsItem {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition-delay: 200ms;
}

@mixin visibilityOffButtonsItem {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.8);
    transition: all 200ms ease;
}

@mixin itemStyle {
    display: flex;
    background-color: $blackTransparent;
    backdrop-filter: blur(4px);
    color:$whiteTextMain;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;

    &:hover{
        background-color: rgba(#000 ,0.6);
        box-shadow: $shadowMain;
        transform: scale(1.002); 
    }
}

@mixin buttonStyle {
    background-color: $blackTransparent;
    backdrop-filter: blur(4px);
    border-radius: 2px;
    border: none;
    cursor: pointer;
    transition: all 200ms ease;
    box-shadow: $shadowMain;
    color: $whiteTextMain;
    justify-content: center;
    align-items: center;
    &:hover{
        background-color: rgba(#000 ,0.6);
        transform: scale(1.045);
    }
}