$blackTransparent : rgba(#000 ,0.5);
$blackShadow : rgba(#000000 ,0.3);

$whiteTextMain : rgba(#fff, 0.8);
$whiteTextDarker : rgba(#fff, 0.9);

$greenMain : rgb(58, 139, 58);
$greenDarker: green;

$buttonGrayLight:rgba(100, 100, 108, 0.851);
$buttonGrayDark:rgb(50,50,53);

$shadowMain : 0px 2px 2px $blackShadow;

