<div class="bookmarksEdit ">
    <div class="container">
        <app-bookmark-item 
        *ngFor="let bookmark of bookmarks" 
        [editMode]="editMode" 
        [bookmark]="bookmark"
        (handleDeleteBookmark)="handleDeleteBookmark(bookmark.id)"
        ></app-bookmark-item> 
        <p *ngIf="empty">Aucun Bookmark enregistré! Pour commencer appuyez sur le bouton +</p>
    </div>
    <div class="bookmarksBtn">
        <button routerLink="../" class="cancelButtonForm">Annuler</button>
    </div>
        
</div>
