<div *ngIf="recipe" class="recipePageMain">


        <div class="recipePageLeft">
            <app-button-icon init="arrow_back" [edit]="true"></app-button-icon>

            <img src={{recipe.img}} alt="">
            <div class="recipePageLeft_bottom">
                <h3>Ingredients</h3>
                <div class="recipeIngredients">
                    <app-recipe-ingredients [data]="recipe.ingredients"></app-recipe-ingredients>
                    <app-recipe-ingredients [data]="recipe.measures"></app-recipe-ingredients>
                </div>
            </div>
        </div>

        <div class="recipePageRight">
            <h1>{{recipe.title}}</h1>
                <div class="favoriteIcon" (click)="handleLike()">
                    <i *ngIf="!recipe.like" class="material-icons">
                        favorite_border
                    </i>
                    <i *ngIf="recipe.like" class="material-icons">
                        favorite
                    </i>
                </div>
            <hr>
            <div class="recipePageRight_infos">
                <div class="containerInfo">
                    <p>{{recipe.cat}}</p>
                </div>
                <div class="containerInfo">
                    <p>{{recipe.area}}</p>
                </div>
                <a *ngIf="recipe.sourceRecipe" class="containerInfo" [href]='recipe.sourceRecipe' target="_blank">
                    Source 
                </a>
                <a *ngIf="recipe.youtube" class="containerInfo" [href]='recipe.youtube' target="_blank">
                    <i class="material-icons">
                        play_arrow
                    </i>
                </a>
            </div>


            <hr>
            <h3>Instructions</h3>
            <span>"{{recipe.desc}}"</span>

            <app-recipe-tags *ngIf="recipe.tags" [tags]='recipe.tags'></app-recipe-tags>
            
        </div>

</div>
