<div *ngIf="recipe" class="recipePageMain">


        <div class="recipePageLeft">
            <img src={{recipe.img}} alt="">
            <div class="recipePageLeft_bottom">
                <h3>Ingredients</h3>
                <div class="recipeIngredients">
                    <div class="recipeIngredients_items">
                        <p *ngFor="let ingredient of recipe.ingredients">{{ingredient}}</p>
                    </div>
                    <div class="recipeIngredients_items">
                        <p *ngFor="let measure of recipe.measures">{{measure}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="recipePageRight">
            <h1>{{recipe.title}}</h1>
            <hr>
            <div class="recipePageRight_infos">
                <div class="containerInfo">
                    <p>{{recipe.cat}}</p>
                </div>
                <div class="containerInfo">
                    <p>{{recipe.area}}</p>
                </div>
                <a class="containerInfo" [href]='recipe.sourceRecipe' target="_blank">
                    Source 
                </a>
                <a class="containerInfo" [href]='recipe.youtube' target="_blank">
                    <i class="material-icons">
                        play_arrow
                    </i>
                </a>
            </div>


            <hr>
            <h3>Instructions</h3>
            <span>"{{recipe.desc}}"</span>

            <hr *ngIf="recipe.tags">
            <h3 *ngIf="recipe.tags">Tags</h3>
            <div *ngIf="recipe.tags" class="recipePageRight_tags">
                <p *ngFor="let tag of recipe.tags">{{tag}}</p>
            </div>
        </div>

</div>
