.notesMainContainer{
    height: 100%;
}

.containerNoteItem{
    max-height: 350px;
    overflow-y: scroll;
    scrollbar-width: none;       
    -ms-overflow-style: none; 
}

.noteItem{
    @include itemStyle;
    border-radius: 2px;
    padding: 10px 12px; 
    max-height: fit-content;

    
    &:hover{
        .boxButtons{
            @include visibilityOnButtonsItem
        }
    }

    &_texts{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    h4{
        font-size: 20px;
        font-weight: 600;
        text-transform: capitalize;
    }

    span{
        font-style: italic;
    }
}



.noteButtons{
    &:first-child{
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
    }

    &:last-child{
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}

app-note-item{
    display: block;
}
