<div class="todoItem" [class.todoCompleted]="todo.completed">
    <div class="boxCheck ">
        <i class="material-icons-outlined">
            check
        </i>
    </div>
    <span>{{todo.text}}</span>


    <div class="todoBoxIcons" (click)="$event.stopPropagation();">
        <div class="todoBoxIcons_item" (click)="handleEditBtn()">
            <i class="material-icons" >
                edit
            </i>
        </div>
        <div class="todoBoxIcons_item" (click)="handleDeleteBtn()">
            <i class="material-icons">
                delete
            </i>
        </div>
    </div>
</div>