/* You can add global styles to this file, and also import other style files */
$fontColor: #263238;
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: $fontColor;
    font-family: "Roboto", sans-serif;
}

$toDoGrayDark: #37474F;
$toDoYellowLight: #ffc527;
$toDoGrayLight: #EBEBEB;
$toDoGrayLightDarker: #DBDBDB;
$toDoYellowDark: #D6AA22;



@import 'app/to-do-list/todolist'