

@import url('https://fonts.googleapis.com/css?family=Material+Icons+Outlined');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}




@import 'app/to-do-list/todolist';
@import "./app/appStyle";
@import "./app/tabs/tabs";
@import "./app/notes/notes";
@import "./app/bookmarks/bookmarks";
@import "./app/todos/todos";