.bookmarksMainContainer{
    height: 100%;
    

    .container{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

}







.bookmarkItem{
    @include itemStyle;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: capitalize;
    &:hover{
        color: $whiteTextDarker;

        div{
            @include visibilityOnButtonsItem  
        }
    }



    img{
        width: 30px;
        height: 30px;
        object-fit: contain;
    }


    div{
        position: absolute;
        top: -8px;
        right:-8px;
        background-color: $buttonGrayLight;
        color: $whiteTextMain;
        width: 25px;
        height: 25px;
        border-radius: 50px;
        font-size: 12px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    
        @include visibilityOffButtonsItem;

        &:hover{
            background-color: $buttonGrayDark;
        }


    }
   

} 
.bookmarksBtn{
    display: flex;
    justify-content: center;
    gap: 30px;
    
   
}





.bookmarksEdit{
    height: 100%;
    color: $whiteTextMain;

    .container{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
        margin-bottom: 30px;
    }
    .bookmarkEditItems{
        display: flex;
        gap: 20px;
        
    }
    
}

app-bookmark-item {
    display: block;
}
