.bookmarksMainContainer{
    height: 100%;
    

    .container{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    p{
        background-color: rgba(#000 ,0.5);
        backdrop-filter: blur(4px);
        border-radius: 5px;
        color: rgba(#fff, 0.8);
        padding:12px;
    }
}







.bookmarkItem{
    @include itemStyle;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: capitalize;
    &:hover{
        color: rgba(#fff, 0.9);

        div{
            @include visibilityButtonsItem  
        }
    }



    img{
        width: 30px;
        height: 30px;
        object-fit: contain;
    }


    div{
        position: absolute;
        top: -8px;
        right:-8px;
        background-color: rgba(100, 100, 108, 0.851);
        color: rgba(#e4e4e4, 0.9);
        width: 25px;
        height: 25px;
        border-radius: 50px;
        font-size: 12px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    
        visibility: hidden;
        opacity: 0;
        transform: scale(0.8);
        transition: all 200ms ease;

        &:hover{
            background-color: rgb(50,50,53);
        }


    }
   

} 
.bookmarksBtn{
    display: flex;
    justify-content: center;
    gap: 30px;
    
    button{
        width: 70px;
        height: 30px;
        @include buttonStyle;

    }
}





.bookmarksEdit{
    height: 100%;
    color: rgba(#fff, 0.8);

    .container{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
        margin-bottom: 30px;
    }
    .bookmarkEditItems{
        display: flex;
        gap: 20px;
        
    }
    
}


