.bookmarksMainContainer{
    height: 100%;

    .container{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }
}







.bookmarkItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100px;
    height: 100px;
    background-color: rgba(#000 ,0.5);
    backdrop-filter: blur(4px);
    border-radius: 5px;
    color: rgba(#fff, 0.8);
    cursor: pointer;

    text-decoration: none;
    text-transform: capitalize;

    position: relative;
    
    &:hover{
        background-color: rgba(#000 ,0.55);
        box-shadow: 0px 2px 2px rgba(#000000 ,0.3);
        transform: scale(1.002);
        color: rgba(#fff, 0.9);
    }



    img{
        width: 30px;
        height: 30px;
        object-fit: contain;
    }


div{
    position: absolute;
    top: -8px;
    right:-8px;
    background-color:rgba(#fff ,0.9);
    color: rgba(#000 ,0.7);
    width: 25px;
    height: 25px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 200ms ease;

    &:hover{
        background-color:rgba(#000 ,0.8);
        color: rgba(#fff ,0.8);
    }


}
   

} 
.bookmarksBtn{
    display: flex;
    justify-content: center;
    gap: 30px;
}





.bookmarksEdit{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(#000 ,0.2);
    backdrop-filter: blur(4px);
    align-items: center;
    padding: 20px;
    gap: 20px;
    box-shadow: 0px 2px 2px rgba(#000000 ,0.3);
    color: rgba(#fff, 0.8);

    .bookmarkEditItems{
        display: flex;
        gap: 20px;
        
    }
    
}


